.vscode
node_modules

package-lock.json
.env

electron/usersDatabase/users.json

DB_HangmanWords.json
DB_Users.json
backup.json
backup

public/Hover.css

public/sass/index.css
public/sass/index.css.map